{% extends 'leayout.html' %}

{% block title %}
<title> 欢迎你来到RC </title>
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}

    {% comment %} 添加内容 {% endcomment %}
    <div class="jumbotron">
      <h1>欢迎来到兰科院大西北西北风荒漠主题公园</h1>
      <p>兰科院坐落于兰州新区职教园区东北边陲地带，生活在这里的人们常年饱受风沙侵袭，简直可以说这里的人们已经渐渐习惯了与风沙为伴的感觉。西北风夹杂这沙子，可以说就像珍珠奶茶离不开海克斯珍珠那般亲密。</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">走，带你看看</a></p>
    </div>

{% endblock content %}

{% block js %}{% endblock js %}
